.container__header {
	position: relative;
	height: 6rem;
	color: $white;
	opacity: 0.9;
	font-size: 1.3rem;
	font-family: 'Allerta Stencil', sans-serif;

	&-logo {
		padding-left: 2rem;
		position: absolute;
		width: 17rem;
		height: inherit;
		background-color: $color-primary-light-1;
		margin: 0;

		&:hover {
			background-color: $color-primary-light-2;
		}
	}
}